@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInOnly {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.hero {
    background: url('/bg.png') center/cover no-repeat;
    display: flex;
    width: 1920px;
}

.container {
    width: 1770px;
    margin: 0 auto;
    display: flex;
    gap: 102px;
}

.textBlock h1 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    margin: 339px 0 60px 0;
    width: 523px;
    height: 170px;

    animation: fadeInLeft 1s ease forwards;
    animation-delay: 0.2s;
    opacity: 0;
}

.textBlock button {
    width: 238px;
    height: 48px;
    background-color: #E13C52;
    border-radius: 60px;
    padding: 10px 34px;
    color: #FFFFFF;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0 0 312px 0;
    border: none;

    animation: fadeInOnly 1.2s ease forwards;
    animation-delay: 1s;
    opacity: 0;
}